<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Django</title>
</head>
<body>
    <header class="container center-align">
        <h3>Django Website</h3>
    </header>
    <div class="container">
        <a href="/admin" class="center-align waves-effect waves-light btn #8e24aa purple darken-1">Admin Login</a>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>